{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/createProducts.css">
    <link rel="stylesheet" href="css/style.css">
{% endblock %}

{% block body %}
    <section>
        <h1>Créer une annonce</h1>
    </section>
{% endblock %}