{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/createAccount.css') }}">
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <section id="createAccount">
        <h1>Créez votre compte</h1>

        <!--<form>
            <label>Nom utilisateur</label>
            <label>Email</label>
            <label>Mot de passe</label>
            <button type="submit" class="btn btn--primary">Valider</button>
        </form>-->
    </section>
{% endblock %}