{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/product.css">
    <link rel="stylesheet" href="css/style.css">
{% endblock %}

{% block body %}
    <h1>Page produit</h1>
{% endblock %}