/* Personal Infos */
#personalInfos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

#infos {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    justify-content: center;
}

#personalInfos img{
    border-radius: 100px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 2rem;
}

/* Personal Products */

#personalProducts{
    margin: 80px 0;
}

#personalProducts .btn{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

/* Other sellers */

.carouselSellers{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.carouselSellers .sellerInfos{
    margin-left: 20px;
}

.carouselSellers svg{
    height: 25px;
}

.carouselSellers__card{
    width: 45%;
    position: relative;
}

.carouselSellers__empty{
    width: 100%;
}

.carouselSellers__card form {
    position: absolute;
    top: 0;
    right: 40px;
}

.carouselSellers__card form button{
    background: none;
    border: none;
    padding: 0;
}