input, textarea, select{
    display: block;
    width: 90%;
    border: 1px solid #5C5A5A;
    border-radius: 30px;
    padding: 10px 25px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    outline: none;
}

form{
    width: 50%;
}

#login form, #registration_form form, #createProduct form{
    margin-right: auto;
    margin-left: auto;
}

#login h4, #registration_form h4{
    text-align: center;
    margin-top: 10px;
}

#login button, #registration_form button, #createProduct button{
    margin-right: auto;
    margin-left: auto;
}

h1{
    text-align: center;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

select{
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}

.groupFields{
    width: 50%;
}

#registration{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    margin-bottom: 1rem;
}

#commentForm{
    display: none;
}

#commentAnswerForm{
    display: none;
}
