/* Categories products */

#catProducts{
    display: grid;
    width: 820px;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 300px 70px 300px 50px;
    grid-column-gap: 20px;
    margin-left: auto;
    margin-right: auto;
}

#catProducts p{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 26px;
    font-family: 'Amiko', sans-serif;
    padding: 15px;
}

#catProducts img{
    object-fit: cover;
}

#catProducts__meublesImage{
    grid-row: 1 / span 3;
}

#catProducts__meublesImage img{
    width: 410px;
    height: 670px;
}

#catProducts__vaisselleImage{
    grid-column: 2 / span 2;
    grid-row: 1/2;
}

#catProducts__vaisselleImage img{
    width: 430px;
    height: 300px;
}

#catProducts__lumiereImage{
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

#catProducts__lumiereImage img{
    width: 205px;
    height: 300px;
}

#catProducts__livresImage{
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
}

#catProducts__livresImage img{
    width: 205px;
    height: 300px;
}

#catProducts__meublesTitle{
    grid-row-start: 4;
}

#catProducts__vaisselleTitle{
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
    margin-bottom: 20px;
}

#catProducts__lumiereTitle{
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
}

#catProducts__livresTitle{
    grid-column: 3 / span 1;
    grid-row: 4 / span 1;
}

/* Concept */

#homepage__concept{
    margin-top: 30px;
    margin-bottom: 80px;
}