#homepage input, #allProducts input{
    display: block;
    width: 50%;
    border: 1px solid #5C5A5A;
    border-radius: 30px;
    padding: 10px 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    outline: none;
}

#search_deal{
    position: relative;
}

.search_button {
    background-image: url(../images/search-icon.svg);
    position: absolute;
    top: 7px;
    right: 27%;
    width: 34px;
    height: 31px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    color:transparent;
}

/* clears the 'X' from Internet Explorer */
#search_deal_words::-ms-clear {  display: none; width : 0; height: 0; }
#search_deal_words::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
#search_deal_words::-webkit-search-decoration,
#search_deal_words::-webkit-search-cancel-button,
#search_deal_words::-webkit-search-results-button,
#search_deal_words::-webkit-search-results-decoration { display: none; }