{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/createAccount.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <section id="createAccount">
        <h1>Connectez-vous</h1>

        <form method="post" action="{{ path('app_security_login') }}">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="_username" placeholder="never@end.com" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="_password" placeholder="********" class="form-control" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Se connecter</button>
            </div>
        </form>

    </section>
{% endblock %}